* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2px;
}

p {
  /* color: #8c7853; */
  color: #4da6ff;
  font-size: 24px;
}

.icon {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #ffffff;
  font-size: 56px;
}

/* efeito acender */
a:hover {
  color: #00ffcc;
  transform: scale(1.1);
  text-shadow: 0 0 8px #00ffcc, 0 0 15px #00ffcc;
}

/* PORTFOLIO */

.projeto {
  margin-top: 40px;
  color: #4da6ff;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: #2a2a2a;
  /* leve fundo escuro para destacar */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(77, 166, 255, 0.4);
  /* sombra azul suave */
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

.projeto h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.5px;
}

.projeto p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #c0d9ff;
  text-align: center;
}

.projeto a {
  display: inline-block;
  font-size: 18px;
  color: #4da6ff;
  text-decoration: none;
  padding: 10px 18px;
  border: 2px solid #4da6ff;
  border-radius: 6px;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.projeto a:hover {
  /* background-color: #4da6ff;
  color: #222222;
  text-decoration: none; */

  color: #00ffcc;
  transform: scale(1.1);
  text-shadow: 0 0 8px #00ffcc, 0 0 15px #00ffcc;
}