* {
  margin: 0;
}

body {
  height: 100vh;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h1 {
  color: #ffffff;
  font-size: 48px;
  letter-spacing: 2px;
}

p {
  color: #8c7853;
  font-size: 24px;
}

.icon {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #ffffff;
  font-size: 56px;
}

a:hover {
  color: #c19c3d; /* Cor dourada ao passar o mouse */
  transform: scale(1.1); /* Leve aumento no tamanho ao passar o mouse */
}