* {
  margin: 0;
}

body {
  height: 100vh;
  /* background-color: #f4f4f4; */
  /* background-color: #121212; */
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  text-align: center;
  /* background-color: aqua; */
}

h1 {
  color: #ffffff;
  font-size: 40px;
}

p {
  color: #c19c3d;
  font-size: 16px;
}

.icon {
  display: flex;
  justify-content: space-evenly;

  margin-top: 32px;
}

a {
  color: #ffffff;
  font-size: 40px;
}

a:hover {
  color: #c19c3d; /* Cor dourada ao passar o mouse */
  transform: scale(1.1); /* Leve aumento no tamanho ao passar o mouse */
}